// RWD Breakpoints
// ==========================================================================
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;

// Layout Global
// ==========================================================================
$pagewidth: 1480px;
$pagemargin: 0 auto;

$width: 100%;
$gutter: 2%;

// Grid mobile
// ==========================================================================
.col-1-sm,
.col-2-sm,
.col-3-sm,
.col-4-sm,
.col-5-sm,
.col-6-sm,
.col-7-sm,
.col-8-sm,
.col-9-sm,
.col-10-sm,
.col-11-sm,
.col-12-sm {
  width: $width;
}
// Grid tablet
// ==========================================================================
@media only screen and (min-width: $breakpoint-medium) {

    .col-1-md { width:($width / 12) - ($gutter * 11 / 12); }
    .col-2-md { width: ($width / 6) - ($gutter * 10 / 12); }
    .col-3-md { width: ($width / 4) - ($gutter * 9 / 12); }
    .col-4-md { width: ($width / 3) - ($gutter * 8 / 12); }
    .col-5-md { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
    .col-6-md { width: ($width / 2) - ($gutter * 6 / 12); }
    .col-7-md { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
    .col-8-md { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
    .col-9-md { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
    .col-10-md { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
    .col-11-md { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
    .col-12-md { width: $width; }
}
// Grid desktop
// ==========================================================================
@media only screen and (min-width: $breakpoint-large) { 

    .col-1-lg { width:($width / 12) - ($gutter * 11 / 12); }
    .col-2-lg { width: ($width / 6) - ($gutter * 10 / 12); }
    .col-3-lg { width: ($width / 4) - ($gutter * 9 / 12); }
    .col-4-lg { width: ($width / 3) - ($gutter * 8 / 12); }
    .col-5-lg { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
    .col-6-lg { width: ($width / 2) - ($gutter * 6 / 12); }
    .col-7-lg { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
    .col-8-lg { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
    .col-9-lg { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
    .col-10-lg { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
    .col-11-lg { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
    .col-12-lg { width: $width; }

}
// Layout skeleton
// ==========================================================================
.container {
    width: 100%;
}
.main{
    max-width: $pagewidth;
    margin: 0 auto;
    padding-top: 20px;
}
